footer
  .container.text-center
    p
      small Made by cantrellnm. Open source and&nbsp;
        a(href='https://github.com/cantrellnm/draw-hanzi' target='_blank') on Github.
    p If you use and enjoy this site, please consider making a small donation to the developer&nbsp;
      a(href='https://ko-fi.com/cantrellnm' target='_blank') on Ko-Fi
      | .
