extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h1 About
    p This app was hacked together in a short period of time. I couldn't have done it without the wonderful work of the following open source projects:
    ul
      li
        a(href='https://github.com/chanind/hanzi-writer' target='_blank') chanind/hanzi-writer
      li
        a(href='https://github.com/nieldlr/hanzi' target='_blank') niedlr/hanzi
      li
        a(href='https://github.com/quizlet/pinyin-converter' target='_blank') quizlet/pinyin-converter
      li
        a(href='https://github.com/tom-s/speak-tts' target='_blank') tom-s/speak-tts
    p This source code for this site is available&nbsp;
      a(href='https://github.com/cantrellnm/draw-hanzi') on GitHub
      | . Pull requests are welcome, or if you run into an issue using the site you can&nbsp;
      a(href='https://github.com/cantrellnm/draw-hanzi/issues') open an issue
      | . (Account required.)
