doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    if title
      title #{title} - Draw 汉字
    else
      title Draw 汉字
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', href='/css/main.css')
    block head

  body
    include partials/header

    .container
      include partials/flash
      block content

    include partials/footer

    script(src='/js/lib/jquery.min.js')
    script(src='/js/lib/popper.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/lib/hanzi-writer.min.js')
    script(src='/js/lib/pinyin-converter.js')
    script(type='module' src='/js/lib/utils.js')
    script(type='module' src='/js/lib/speak-tts.js')
    script(type='module' src='/js/main.js')

    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-149342866-2")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-149342866-2');
