@import "themes/modern/variables";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";

@import "themes/modern/modern";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  background: $gray-lighter;
  padding-top: 80px;
  margin-bottom: 75px;
  font-size: 14px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  border-top: 1px solid #DDD;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  min-height: 30px;
  margin: -15px 15px -15px 0;
}

.navbar{
  background: white;
  margin-bottom: 20px;
  border-bottom: 1px solid #DDD;
  display: block;
}

.navbar-brand {
  font-size: 18px;
  float: left;
}

.navbar-toggler {
  position: relative;
  float: right;
  margin-bottom: 8px;
  margin-top: 8px;
}

.navbar-toggler-icon {
  font-size: 16px;
}

.dropdown-menu {
  left: initial;
  right: 0;
  margin: .8rem 0;
  min-width: 100%;
}

/*
* Solves Bootstrap 4 issue
* https://github.com/twbs/bootstrap/issues/25654
*/
/* Styles in sm disposition and up */
@media (min-width: 576px) and (max-width: 767px) {
  /* Solves bs4 bug */
  .navbar-expand-md > .container,
  .navbar-expand-lg > .container,
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Styles in md disposition and up */
@media (min-width: 768px) and (max-width: 991px) {
  /* Solves bs4 bug */
  .navbar-expand-lg > .container,
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Styles in lg disposition and up */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Solves bs4 bug */
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Font Icons
// -------------------------

.fa, .fab, .fas, .far {
  margin-right: 6px;
}

///  *** CUSTOM

h1 {
  display: inline-block;
  margin-bottom: 0;
  & + .btn, & + menu {
    float: right;
  }
}
.character[lang="zh"] {
  font-family: KaiTi, 'Hiragino Sans GB', sans-serif;
}
menu {
  padding-left: 0;
  margin: 0;
  .btn + .btn, .btn + form {
    display: inline-block;
    margin-left: 1rem;
  }
}

// List options
#list-options {
  text-align: center;
}

// Practice
@media (min-width: 775px) {
  #practice-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 'char info' 'char options';
    grid-column-gap: 2rem;
  }
}
#practice-container {
  &.hide-character .character-definition .character {
    display: none;
  }
}
body.character-info-loading #practice-character {
  opacity: .5;
  pointer-events: none;
}
#practice-character {
  #character-score {
    flex: 1 0 100%;
    margin-left: auto;
    padding-bottom: 0;
    summary {
      text-align: right;
    }
    p {
      margin-bottom: 0;
      font-size: .8rem;
    }
  }
  grid-area: info;
  margin-bottom: 1rem;
  flex-flow: row wrap;
  .card-body {
    margin-bottom: 0;
    text-align: center;
  }
  .character {
    font-size: 1.5rem;
    & + label {
      margin-left: 1em;
    }
  }
  .pinyin, .definition {
    display: block;
  }
  .pinyin {
    margin: auto;
    font-family: Calibri, Helvetica, sans-serif;
    font-weight: bold;
    color: $gray;
  }
}
#practice-options {
  grid-area: options;
}
body.stroke-data-loading {
  #practice, #practice-options {
    opacity: .5;
    pointer-events: none;
  }
}
#practice {
  grid-area: char;
  display: flex;
  overflow-x: scroll;
  padding: 0 0 2rem;
  margin-bottom: 1rem;
  &.no-grid {
    .practice-character {
      border-color: white;
    }
    svg line {
      display: none;
    }
  }
  .practice-character {
    border: 1px solid #DDD;
    display: inline-block;
    background: white;
    border-radius: 4px;
    margin: 0 10px 10px 0;
    flex-shrink: 0;
  }
}

ul.lists {
  padding-left: 0;
  list-style-type: none;
  li {
    margin-bottom: 1rem;
  }
}
ul.list-link-content {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  li a {
    white-space: nowrap;
    font-size: 2rem;
    padding: 1rem;
    width: 5em;
  }
}
