extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h1 Lists

  ul.lists
    each list in public_lists
      li.card
        a.list.card-body(href=`/list/${list.id}`)
          h3.list-name= list.name
          .list-content= list.content.length > 20 ? `${list.content.substring(0, 20)} ...` : list.content
